body {
  background-color: #ffe9ec;
  margin-top: 70px;
  font-family: "Karla", sans-serif;
  font-size: 1.2rem;
}

#initial {
  color: red;
}

#navHR {
  border: none;
  border-left: 1px solid hsla(200, 10%, 50%, 100);
  height: 15px;
  width: 1px;
}

#cat-content {
  padding: 10px;
}

#cat-frontpage {
  padding: 10px auto;
  margin: 10px auto;
  border-radius: 0.5in;
  display: block;
  width: 100%;
  height: auto;
}
.alert {
  background-color: #f4f4f4;
  padding: 10px;
  margin: 10px;
  border-radius: 0.5in;
}

.card-body {
  background-color: #f4f4f4;
}

#cat-group {
}

#spook-text {
  text-align: center;
}

#cat-deck {
}

#my-carousel {
  display: flex;
  object-fit: fill;
  height: 100vh;
}
.d-block {
  width: 100vp;
}

#dog-group {
}
#dogtag {
  text-align: center;
  font-size: 4vw;
}
